body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.nav {

  background-color: #073648;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.activeNavLink {
  list-style: none;
  padding: 20px;

  text-decoration: none;
  color: rgba(255, 255, 255, 0.623);
  width: 80px;
  text-align: center;
}

.navLink {
  list-style: none;
  padding: 20px;
  text-decoration: none;
  color: white;
  width: 80px;
  text-align: center;
}

.navLink:hover {
  color: rgba(255, 255, 255, 0.623);
}
.themeButton{
  color: #fff;
  border-width: 0;
  border-radius: 5px;
  font-size: 15px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  animation: size-animation 6s infinite;
}

@keyframes size-animation {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }
.themeButton:hover{
  margin-left: 0px;
  margin-right: 0px;
  width: 40px;
  height: 40px;
  animation:none;
  
}



footer {
  margin-top: 27%;
  background-color: #073648;
  color: #fff;
  text-align: center;
  height: 30px;
}

